body {
  font-family: sans-serif;
}
p.version {
  float: right;
  font-size: 0.7rem;
  margin: 10px;
  padding: 0px;
}
p {
  line-height: 1.5;
  vertical-align: baseline;
}
code {
  color: #333;
  background: rgba(0,0,0,0.04);
  padding: 3px;
  border-radius: 5px;
}
