<p class="version">{{version}}</p>
<h2 id="title">ember-auto-save</h2>
<ul>
  <li>{{#link-to 'index'}}Ember-auto-save{{/link-to}}</li>
  <li>{{#link-to 'auto-save-proxy'}}AutoSaveProxy{{/link-to}}</li>
  <li>{{#link-to 'auto-save-component'}}AutoSaveComponent{{/link-to}}</li>
  <li>{{#link-to 'auto-save-mixin'}}AutoSaveMixin{{/link-to}}</li>
  <li>{{#link-to 'save-method'}}save() method{{/link-to}}</li>
</ul>

{{outlet}}
