<h2 id="title">ember-auto-save</h2>

{{#auto-save model=model as |autoSaveProxy|}}
  <div>Title: {{input value=autoSaveProxy.title}}</div>
  <div>Body: {{textarea value=autoSaveProxy.body}}</div>
{{/auto-save}}

{{outlet}}
