<h2>AutoSaveMixin</h2>

<p>
  The <code>AutoSaveMixin</code> overrides the <code>setUnknownProperty</code>
  method, and triggers the <code>save()</code> method when properties are set on
  the <code>model</code>.
</p>
<p>
  The example below shows how to create an <code>autoSaveProxy</code> object.
</p>

{{code-snippet name="auto-save-mixin-example.js"}}
